<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>15</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>B1</key>
      <dict>
        <key>position</key>
        <integer>-220</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>xhgt</key>
      <dict>
        <key>position</key>
        <integer>480</integer>
        <key>width</key>
        <integer>15</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>T1</key>
      <dict>
        <key>position</key>
        <integer>664</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>fig</key>
      <dict>
        <key>position</key>
        <integer>700</integer>
        <key>width</key>
        <integer>15</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>asc</key>
      <dict>
        <key>position</key>
        <integer>750</integer>
        <key>width</key>
        <integer>10</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>20</key>
      <dict>
        <key>width</key>
        <integer>20</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>25</key>
      <dict>
        <key>width</key>
        <integer>25</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>30</key>
      <dict>
        <key>width</key>
        <integer>30</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>40</key>
      <dict>
        <key>width</key>
        <integer>40</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>70</key>
      <dict>
        <key>width</key>
        <integer>70</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>77</key>
      <dict>
        <key>width</key>
        <integer>77</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>170</key>
      <dict>
        <key>width</key>
        <integer>170</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>36</key>
      <dict>
        <key>width</key>
        <integer>36</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>44</key>
      <dict>
        <key>width</key>
        <integer>44</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>57</key>
      <dict>
        <key>width</key>
        <integer>57</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>68</key>
      <dict>
        <key>width</key>
        <integer>68</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>77</key>
      <dict>
        <key>width</key>
        <integer>77</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>84</key>
      <dict>
        <key>width</key>
        <integer>84</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>100</key>
      <dict>
        <key>width</key>
        <integer>100</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>106</key>
      <dict>
        <key>width</key>
        <integer>106</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>110</key>
      <dict>
        <key>width</key>
        <integer>110</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>120</key>
      <dict>
        <key>width</key>
        <integer>120</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>534</key>
      <dict>
        <key>width</key>
        <integer>534</integer>
        <key>horizontal</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>A</string>
    <string>B</string>
    <string>E</string>
    <string>F</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>P</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>exclam</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>period</string>
    <string>r</string>
    <string>space</string>
    <string>t</string>
    <string>u</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>q</string>
    <string>p</string>
    <string>s</string>
    <string>v</string>
    <string>w</string>
    <string>D</string>
    <string>N</string>
    <string>O</string>
    <string>X</string>
    <string>S</string>
    <string>R</string>
    <string>C</string>
    <string>M</string>
    <string>T</string>
    <string>Q</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>Y</string>
    <string>Z</string>
    <string>G</string>
    <string>uni042C</string>
    <string>uni0410</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0415</string>
    <string>uni041A</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0430</string>
    <string>uni0435</string>
    <string>uni043A</string>
    <string>uni043E</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0443</string>
    <string>uni0445</string>
    <string>uni041F</string>
    <string>uni043D</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni0433</string>
    <string>uni0438</string>
    <string>comma</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>hyphen</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>uni00AD</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>uni0444</string>
    <string>uni0300</string>
    <string>uni0301</string>
    <string>uni0308</string>
    <string>dotlessi</string>
    <string>tilde</string>
    <string>uni0303</string>
    <string>circumflex</string>
    <string>ring</string>
    <string>uni030A</string>
    <string>uni0425</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0453</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni0451</string>
    <string>uni0401</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0455</string>
    <string>uni0439</string>
    <string>uni045C</string>
    <string>uni0403</string>
    <string>uni040C</string>
    <string>uni0449</string>
    <string>uni0446</string>
    <string>uni0437</string>
    <string>uni044D</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0436</string>
    <string>uni044C</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni043B</string>
    <string>uni0434</string>
    <string>uni043C</string>
    <string>uni041C</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0411</string>
    <string>uni0414</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041B</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>breve</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni045B</string>
    <string>uni0404</string>
    <string>uni0454</string>
    <string>uni0306</string>
    <string>uni0304</string>
    <string>uni0327</string>
    <string>uni0414.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043B.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044B.loclBGR</string>
    <string>uni044C.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni045D.loclBGR</string>
    <string>uni0431.loclSRB</string>
    <string>uni045E</string>
    <string>uni043D.loclBGR</string>
    <string>uni0447.loclBGR</string>
    <string>endash</string>
    <string>emdash</string>
    <string>uni045F</string>
    <string>uni0452</string>
    <string>uni040B</string>
    <string>uni0402</string>
    <string>uni0490</string>
    <string>uni0491</string>
    <string>uni045D</string>
    <string>uni0416.ss01</string>
    <string>uni041A.ss01</string>
    <string>uni042F.ss01</string>
    <string>uni0436.ss01</string>
    <string>uni2116</string>
    <string>uni000D</string>
    <string>uni007F</string>
    <string>uni00A0</string>
    <string>uni0237</string>
    <string>.notdef</string>
    <string>uni03BC</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>twosuperior</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Aogonek</string>
    <string>aogonek</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>dcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Eogonek</string>
    <string>eogonek</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Gdotaccent</string>
    <string>gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>gcommaaccent</string>
    <string>Hcircumflex</string>
    <string>hcircumflex</string>
    <string>Hbar</string>
    <string>hbar</string>
    <string>Itilde</string>
    <string>itilde</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Ibreve</string>
    <string>ibreve</string>
    <string>Iogonek</string>
    <string>iogonek</string>
    <string>Idotaccent</string>
    <string>IJ</string>
    <string>ij</string>
    <string>Jcircumflex</string>
    <string>jcircumflex</string>
    <string>Kcommaaccent</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>Lacute</string>
    <string>lacute</string>
    <string>Lcommaaccent</string>
    <string>lcommaaccent</string>
    <string>Lcaron</string>
    <string>lcaron</string>
    <string>Ldot</string>
    <string>ldot</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>Ncommaaccent</string>
    <string>ncommaaccent</string>
    <string>Ncaron</string>
    <string>ncaron</string>
    <string>napostrophe</string>
    <string>Eng</string>
    <string>eng</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Ohungarumlaut</string>
    <string>ohungarumlaut</string>
    <string>OE</string>
    <string>oe</string>
    <string>Racute</string>
    <string>racute</string>
    <string>Rcommaaccent</string>
    <string>rcommaaccent</string>
    <string>Rcaron</string>
    <string>rcaron</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Scircumflex</string>
    <string>scircumflex</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Tcaron</string>
    <string>tcaron</string>
    <string>Tbar</string>
    <string>tbar</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Uhungarumlaut</string>
    <string>uhungarumlaut</string>
    <string>Uogonek</string>
    <string>uogonek</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>Ycircumflex</string>
    <string>ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>zacute</string>
    <string>Zdotaccent</string>
    <string>zdotaccent</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>florin</string>
    <string>AEacute</string>
    <string>aeacute</string>
    <string>Oslashacute</string>
    <string>oslashacute</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>caron</string>
    <string>uni02C9</string>
    <string>dotaccent</string>
    <string>ogonek</string>
    <string>hungarumlaut</string>
    <string>uni03A9</string>
    <string>pi</string>
    <string>uni0462</string>
    <string>uni0463</string>
    <string>uni0472</string>
    <string>uni0473</string>
    <string>uni0474</string>
    <string>uni0475</string>
    <string>uni04D9</string>
    <string>Wgrave</string>
    <string>wgrave</string>
    <string>Wacute</string>
    <string>wacute</string>
    <string>Wdieresis</string>
    <string>wdieresis</string>
    <string>Ygrave</string>
    <string>ygrave</string>
    <string>figuredash</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>onedotenleader</string>
    <string>twodotenleader</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>zero.superior</string>
    <string>i.superior</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
    <string>parenleft.superior</string>
    <string>parenright.superior</string>
    <string>n.superior</string>
    <string>zero.inferior</string>
    <string>one.inferior</string>
    <string>two.inferior</string>
    <string>three.inferior</string>
    <string>four.inferior</string>
    <string>five.inferior</string>
    <string>six.inferior</string>
    <string>seven.inferior</string>
    <string>eight.inferior</string>
    <string>nine.inferior</string>
    <string>parenleft.inferior</string>
    <string>parenright.inferior</string>
    <string>colonmonetary</string>
    <string>Euro</string>
    <string>uni2113</string>
    <string>trademark</string>
    <string>estimated</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>partialdiff</string>
    <string>Delta</string>
    <string>product</string>
    <string>summation</string>
    <string>minus</string>
    <string>uni2215</string>
    <string>uni2219</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>lozenge</string>
    <string>uniFB00</string>
    <string>uniFB01</string>
    <string>uniFB02</string>
    <string>uniFB03</string>
    <string>uniFB04</string>
    <string>two.denominator</string>
    <string>five.inferior.alt</string>
    <string>dollar.oldstyle</string>
    <string>zero.oldstyle</string>
    <string>one.oldstyle</string>
    <string>one.denominator</string>
    <string>three.denominator</string>
    <string>four.denominator</string>
    <string>five.denominator</string>
    <string>six.denominator</string>
    <string>seven.denominator</string>
    <string>eight.denominator</string>
    <string>nine.denominator</string>
    <string>zero.numerator</string>
    <string>one.numerator</string>
    <string>two.numerator</string>
    <string>three.numerator</string>
    <string>four.numerator</string>
    <string>five.numerator</string>
    <string>six.numerator</string>
    <string>seven.numerator</string>
    <string>eight.numerator</string>
    <string>nine.numerator</string>
    <string>zero.alt</string>
    <string>one.alt</string>
    <string>two.alt</string>
    <string>three.alt</string>
    <string>four.alt</string>
    <string>five.alt</string>
    <string>six.alt</string>
    <string>seven.alt</string>
    <string>eight.alt</string>
    <string>nine.alt</string>
    <string>two.oldstyle</string>
    <string>three.oldstyle</string>
    <string>onehalf.alt</string>
    <string>onequarter.alt</string>
    <string>threequarters.alt</string>
    <string>oneeighth.alt</string>
    <string>threeeighths.alt</string>
    <string>fiveeighths.alt</string>
    <string>seveneighths.alt</string>
    <string>onethird.alt</string>
    <string>twothirds.alt</string>
    <string>zero.superior.alt</string>
    <string>one.superior.alt</string>
    <string>two.superior.alt</string>
    <string>three.superior.alt</string>
    <string>four.superior.alt</string>
    <string>five.superior.alt</string>
    <string>six.superior.alt</string>
    <string>seven.superior.alt</string>
    <string>eight.superior.alt</string>
    <string>nine.superior.alt</string>
    <string>zero.inferior.alt</string>
    <string>one.inferior.alt</string>
    <string>two.inferior.alt</string>
    <string>three.inferior.alt</string>
    <string>four.inferior.alt</string>
    <string>six.inferior.alt</string>
    <string>seven.inferior.alt</string>
    <string>eight.inferior.alt</string>
    <string>nine.inferior.alt</string>
    <string>commaaccentalt</string>
    <string>caronalt</string>
    <string>four.oldstyle</string>
    <string>five.oldstyle</string>
    <string>six.oldstyle</string>
    <string>seven.oldstyle</string>
    <string>eight.oldstyle</string>
    <string>nine.oldstyle</string>
    <string>uni2014.alt</string>
    <string>one.fitted</string>
    <string>uni0326</string>
    <string>dollar.inferior</string>
    <string>brevecyr</string>
    <string>dieresisacute</string>
    <string>dieresisgrave</string>
    <string>.null</string>
    <string>Scedilla</string>
    <string>uni0218</string>
    <string>Germandbls</string>
    <string>idotaccent</string>
    <string>ijacute</string>
    <string>jacute</string>
    <string>scedilla</string>
    <string>uni0219</string>
    <string>baht</string>
    <string>dong</string>
    <string>franc</string>
    <string>naira</string>
    <string>peseta</string>
    <string>peso</string>
    <string>uni20BD</string>
    <string>uni20B9</string>
    <string>uni20BA</string>
    <string>won</string>
    <string>dollar.lt</string>
    <string>florin.lt</string>
    <string>baht.lt</string>
    <string>dollar.st</string>
    <string>yen.st</string>
    <string>florin.st</string>
    <string>baht.st</string>
    <string>zero.op</string>
    <string>one.op</string>
    <string>two.op</string>
    <string>three.op</string>
    <string>four.op</string>
    <string>five.op</string>
    <string>six.op</string>
    <string>seven.op</string>
    <string>eight.op</string>
    <string>nine.op</string>
    <string>zero.lt</string>
    <string>one.lt</string>
    <string>two.lt</string>
    <string>three.lt</string>
    <string>four.lt</string>
    <string>five.lt</string>
    <string>six.lt</string>
    <string>seven.lt</string>
    <string>eight.lt</string>
    <string>nine.lt</string>
    <string>zero.ot</string>
    <string>one.ot</string>
    <string>two.ot</string>
    <string>three.ot</string>
    <string>four.ot</string>
    <string>five.ot</string>
    <string>six.ot</string>
    <string>seven.ot</string>
    <string>eight.ot</string>
    <string>nine.ot</string>
    <string>zero.st</string>
    <string>one.st</string>
    <string>two.st</string>
    <string>three.st</string>
    <string>four.st</string>
    <string>five.st</string>
    <string>six.st</string>
    <string>seven.st</string>
    <string>eight.st</string>
    <string>nine.st</string>
    <string>uni2070</string>
    <string>onesuperior</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
    <string>uni2153</string>
    <string>uni2154</string>
    <string>uni215B</string>
    <string>uni215C</string>
    <string>uni215D</string>
    <string>uni215E</string>
    <string>percent.lt</string>
    <string>plus.op</string>
    <string>minus.op</string>
    <string>multiply.op</string>
    <string>divide.op</string>
    <string>equal.op</string>
    <string>less.op</string>
    <string>greater.op</string>
    <string>colon.tab</string>
    <string>semicolon.tab</string>
    <string>space.tab</string>
    <string>thinspace</string>
    <string>colon.mid</string>
    <string>arrowup</string>
    <string>arrowdown</string>
    <string>arrowleft</string>
    <string>arrowright</string>
    <string>arrowupdown</string>
    <string>arrowleftright</string>
    <string>arrowNW</string>
    <string>arrowNE</string>
    <string>arrowSE</string>
    <string>arrowSW</string>
    <string>uni0302</string>
    <string>uni0307</string>
    <string>uni030B</string>
    <string>uni030C</string>
    <string>commaaboverightcmb</string>
    <string>uni0328</string>
    <string>uni2011</string>
    <string>uni0424.loclBGR</string>
    <string>uni0443.loclBGR</string>
    <string>uni0444.loclBGR</string>
    <string>uni0416.loclBGR</string>
    <string>uni041A.loclBGR</string>
    <string>Igravecyr</string>
    <string>Iegravecyr</string>
    <string>micro</string>
    <string>iegravecyr</string>
    <string>uni02BB</string>
    <string>uni0312</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni01DD</string>
    <string>schwa</string>
    <string>uni030F</string>
    <string>uni02BC</string>
    <string>uni02BD</string>
    <string>uni2126</string>
    <string>uni0311</string>
    <string>_corner.LC_n_left_outside</string>
    <string>_corner.LC_n_left_inside</string>
    <string>_corner.LC_n_right_inside</string>
    <string>_corner.LC_n_right_ouside</string>
    <string>_cap.LC_l_bottom</string>
    <string>_cap.UC_I_bottom</string>
    <string>_cap.UC_I_top</string>
    <string>_corner.UC_I_BL</string>
    <string>_corner.UC_I_TR</string>
    <string>_corner.UC_I_TL</string>
    <string>_corner.UC_I_BR</string>
    <string>_cap.LC_l_top</string>
  </array>
  <key>public.skipExportGlyphs</key>
  <array>
    <string>_corner.LC_n_left_outside</string>
    <string>_corner.LC_n_left_inside</string>
    <string>_corner.LC_n_right_inside</string>
    <string>_corner.LC_n_right_ouside</string>
    <string>_cap.LC_l_bottom</string>
    <string>_cap.UC_I_bottom</string>
    <string>_cap.UC_I_top</string>
    <string>_corner.UC_I_BL</string>
    <string>_corner.UC_I_TR</string>
    <string>_corner.UC_I_TL</string>
    <string>_corner.UC_I_BR</string>
    <string>_cap.LC_l_top</string>
  </array>
</dict>
</plist>
